.item1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
}

.item3{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    background-color:bisque;
    margin-bottom: 0.5rem;
}

.item4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 9;
    background-color:bisque;
}

.header{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:blue;

    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;

}

.grid-container{
    background-image: url("istockphoto-1132628790-612x612.jpg");
    display: grid;
    height: 100%;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.text-principal{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.text-name{
    font-size: 2rem;
}

.title{
    font: 2.5rem;
    font-weight: bolder;
}

.candle-chart{
    height: 800px;
}

.form-container{
    margin-right: 2rem;
}

.button{
    cursor: pointer;
}

.input-base{
    width: 10rem;
    height: 4rem;
    margin-right: 0.6rem;   
    border-radius: 1.3rem;
    text-align: center;
    font-size: large;
}

.input-quote{
    width: 10rem;
    height: 4rem;
    margin-right: 0.6rem;   
    border-radius: 1.3rem;
    text-align: center;
    font-size: large;
}

.input-search{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.basic-info{
    width: 14rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #323232;
}

.basic-info-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    height: 4rem;
    margin-left: 1rem;
}