.item1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aquamarine;
}

.item2{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color:bisque;
}

.item3{
    grid-column-start: 5;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 9;
    background-color:bisque;
}

.item4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 9;
    background-color:bisque;
}

.header{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:blue;
}

.row{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;

}

.grid-container{
    display: grid;
    height: 100%;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.text-principal{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.title{
    font: 2.5rem;
    font-weight: bolder;
}

.candle-chart{
    height: 800px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.input{
    margin-left: 1rem;
    margin-right: 1rem;
}

.button{
    cursor: pointer;
}
